.currentSong {
  height: 45vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  // flex-direction: column;
  text-align: center;

  &__cover {
    width: 50vh;
    max-width: 200px;
    height: auto;
    border-radius: 50%;
  }
  &__title {
    font-size: 32px;
    font-weight: 700;
    margin: 20px 0 8px;
    @media (max-width: 576px) {
      font-size: 18px;
    }
  }
  &__artist {
    font-size: 18px;
    font-weight: normal;
    font-weight: 300;
    @media (max-width: 576px) {
      font-size: 14px;
    }
  }
}
