* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 100vh;
}
body {
  font-family: "Mulish", sans-serif;
  color: rgb(65, 65, 65);
}

@import "./player";
@import "./nav";
@import "./currentSong";
@import "./library";
@import "./songSample";
